<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SSO单点登录测试</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"></meta>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.8.0/jquery.js"></script>
</head>
<body>
【<span th:text="${appName}" ></span>-我的私有页面】<br /><br />
<img src="/img/my.jpg" width="80" height="80"></img><br />
看到这个页面，说明你已经通过了身份验证！<br /><br />

<a href="/">点击这里，返回<span th:text="${appName}"></span>网站首页</a><br/><br /><br /><br />
<a href="/logout">点击这里，先退出登录，然后返回<span th:text="${appName}"></span>网站首页</a><br />
</body>
</html>
